<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1">
	<dict>
	<key>AcknowledgedDataCollectionPolicy</key>
	<string>RequiredAndOptionalData</string>
	<key>Applications</key>
	<dict>
		<key>/Applications/Company Portal.app</key>
		<dict>
			<key>Application ID</key>
			<string>IMCP01</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft Defender ATP.app</key>
		<dict>
			<key>Application ID</key>
			<string>WDAV00</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft Edge.app</key>
		<dict>
			<key>Application ID</key>
			<string>EDGE01</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft Excel.app</key>
		<dict>
			<key>Application ID</key>
			<string>XCEL2019</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft OneNote.app</key>
		<dict>
			<key>Application ID</key>
			<string>ONMC2019</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft Outlook.app</key>
		<dict>
			<key>Application ID</key>
			<string>OPIM2019</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft PowerPoint.app</key>
		<dict>
			<key>Application ID</key>
			<string>PPT32019</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft Remote Desktop.app</key>
		<dict>
			<key>Application ID</key>
			<string>MSRD10</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft Teams.app</key>
		<dict>
			<key>Application ID</key>
			<string>TEAM01</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft Word.app</key>
		<dict>
			<key>Application ID</key>
			<string>MSWD2019</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/OneDrive.app</key>
		<dict>
			<key>Application ID</key>
			<string>ONDR18</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Skype for Business.app</key>
		<dict>
			<key>Application ID</key>
			<string>MSFB16</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Library/Application Support/Microsoft/MAU2.0/Microsoft AutoUpdate.app</key>
		<dict>
			<key>Application ID</key>
			<string>MSau04</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
	</dict>
	<key>ChannelName</key>
	<string>Production</string>
	<key>DisableInsiderCheckbox</key>
	<true/>
	<key>EnableCheckForUpdatesButton</key>
	<false/>
	<key>ExtendedLogging</key>
	<false/>
	<key>HowToCheck</key>
	<string>AutomaticDownload</string>
	<key>PayloadDisplayName</key>
	<string>Microsoft AutoUpdate</string>
	<key>PayloadIdentifier</key>
	<string>com.github.erikberglund.ProfileCreator.8B7C483B-698A-4DBA-AE59-ED42222F5C7A.com.microsoft.autoupdate2.74918884-71A8-4E15-87E7-EB93B5685FFE</string>
	<key>PayloadType</key>
	<string>com.microsoft.autoupdate2</string>
	<key>PayloadUUID</key>
	<string>74918884-71A8-4E15-87E7-EB93B5685FFE</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
	<key>SendAllTelemetryEnabled</key>
	<false/>
	<key>StartDaemonOnAppLaunch</key>
	<true/>
</dict>
</plist>
