<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>AppleShowAllExtensions</key>
	<true/>
	<key>AppleLanguages</key>
	<array>
		<string>de-CH</string>
	</array>
	<key>AppleLocale</key>
	<string>de_CH</string>
	<key>Country</key>
	<string>CH</string>
	<key>NSAutomaticCapitalizationEnabled</key>
	<false/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<true/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<true/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>NSAutomaticTextCompletionCollapsed</key>
	<true/>
	<key>NSAutomaticTextCompletionEnabled</key>
	<true/>
</dict>
</plist>
