<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowOutdatedPlugins</key>
	<false/>
	<key>AlwaysAuthorizePlugins</key>
	<true/>
	<key>AutoFillEnabled</key>
	<false/>
	<key>BackgroundModeEnabled</key>
	<false/>
	<key>DefaultBrowserSettingEnabled</key>
	<false/>
	<key>DefaultGeolocationSetting</key>
	<integer>2</integer>
	<key>DefaultNotificationsSetting</key>
	<integer>3</integer>
	<key>DefaultJavaScriptSetting</key>
	<integer>1</integer>
	<key>DefaultPluginsSetting</key>
	<integer>1</integer>
	<key>DefaultPopupsSetting</key>
	<integer>3</integer>
	<key>DefaultSearchProviderEnabled</key>
	<true/>
	<key>DefaultSearchProviderName</key>
	<string>Google</string>
	<key>DefaultSearchProviderSearchURL</key>
	<string>www.google.ch/search?q=</string>
	<key>DeviceAutoUpdateDisabled</key>
	<true/>
	<key>HomepageIsNewTabPage</key>
	<false/>
	<key>HomepageLocation</key>
	<string>https://google.ch</string>
	<key>ImportAutofillFormData</key>
	<false/>
	<key>ImportBookmarks</key>
	<false/>
	<key>ImportHistory</key>
	<false/>
	<key>ImportHomepage</key>
	<false/>
	<key>ImportSavedPasswords</key>
	<false/>
	<key>ImportSearchEngine</key>
	<false/>
	<key>IncognitoModeAvailability</key>
	<integer>1</integer>
	<key>PasswordManagerEnabled</key>
	<true/>
	<key>AllowDeletingBrowserHistory</key>
	<false/>
	<key>RestoreOnStartup</key>
	<integer>4</integer>
	<key>RestoreOnStartupURLs</key>
	<array>
		<string>https://google.ch</string>
	</array>
	<key>SafeBrowsingEnabled</key>
	<true/>
	<key>ShowHomeButton</key>
	<true/>
	<key>SyncDisabled</key>
	<false/>
	<key>HideWebStoreIcon</key>
	<true/>
</dict>
</plist>