<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SendASmileEnabled</key>
	<true/>
	<key>SendAllTelemetryEnabled</key>
	<false/>
	<key>SendCrashReportsEvenWithTelemetryDisabled</key>
	<false/>
	<key>kFREEnterpriseTelemetryInfoKey</key>
	<true/>
	<key>kFREIntelligenceServicesConsentV2Key</key>
	<true/>
	<key>kFRETelemetryConsentKey</key>
	<true/>
	<key>kSubUIAppCompletedFirstRunSetup1507</key>
	<true/>
</dict>
</plist>