<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConnectedOfficeExperiencesPreference</key>
	<true/>
	<key>DefaultsToLocalOpenSave</key>
	<true/>
	<key>DiagnosticDataTypePreference</key>
	<string>BasicDiagnosticData</string>
	<key>HasUserSeenEnterpriseFREDialog</key>
	<true/>
	<key>OfficeAutoSignIn</key>
	<true/>
	<key>OfficeExperiencesAnalyzingContentPreference</key>
	<true/>
	<key>OfficeExperiencesDownloadingContentPreference</key>
	<true/>
	<key>OptionalConnectedExperiencesPreference</key>
	<true/>
	<key>SendAllTelemetryEnabled</key>
	<false/>
	<key>ShowDocStageOnLaunch</key>
	<false/>
	<key>ShowWhatsNewOnLaunch</key>
	<true/>
	<key>TermsAccepted1809</key>
	<true/>
	<key>kCUIThemePreferencesThemeKeyPath</key>
	<integer>0</integer>
</dict>
</plist>
