<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<false/>
	<key>contents-immutable</key>
	<false/>
	<key>static-only</key>
	<true/>
	<key>largesize</key>
	<integer>128</integer>
	<key>launchanim</key>
	<true/>
	<key>launchanim-immutable</key>
	<false/>
	<key>magnification</key>
	<false/>
	<key>magnify-immutable</key>
	<false/>
	<key>magsize-immutable</key>
	<false/>
	<key>mineffect</key>
	<string>genie</string>
	<key>mineffect-immutable</key>
	<false/>
	<key>minimize-to-application</key>
	<false/>
	<key>minimize-to-application-immutable</key>
	<false/>
	<key>orientation</key>
	<string>bottom</string>
	<key>position-immutable</key>
	<false/>
	<key>show-process-indicators</key>
	<true/>
	<key>show-process-indicators-immutable</key>
	<false/>
	<key>size-immutable</key>
	<false/>
	<key>static-apps</key>
	<array>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>/Applications/Launchpad.app</string>
					<key>_CFURLStringType</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>/Applications/Safari.app</string>
					<key>_CFURLStringType</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>/Applications/Microsoft Word.app</string>
					<key>_CFURLStringType</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>/Applications/Microsoft Excel.app</string>
					<key>_CFURLStringType</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>/Applications/Microsoft PowerPoint.app</string>
					<key>_CFURLStringType</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>static-others</key>
	<array>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>displayas</key>
				<integer>1</integer>
				<key>home directory relative</key>
				<string>~/Downloads</string>
				<key>label</key>
				<string>Downloads</string>
				<key>showas</key>
				<integer>3</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>tilesize</key>
	<integer>50</integer>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
