<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewWindowTarget</key>
	<string>PfHm</string>
	<key>ShowRecentTags</key>
	<false/>
	<key>ShowExternalHardDrivesOnDesktop</key>
	<true/>
	<key>ShowPathbar</key>
	<true/>
	<key>ShowPreviewPane</key>
	<false/>
	<key>ShowRemovableMediaOnDesktop</key>
	<true/>
	<key>ShowSidebar</key>
	<true/>
	<key>ShowStatusBar</key>
	<true/>
	<key>ShowTabView</key>
	<false/>
	<key>SidebarDevicesSectionDisclosedState</key>
	<true/>
	<key>SidebarPlacesSectionDisclosedState</key>
	<true/>
	<key>SidebarSharedSectionDisclosedState</key>
	<true/>
	<key>AlwaysOpenWindowsInColumnView</key>
	<true/>
	<key>FXPreferredSearchViewStyle</key>
	<string>clmv</string>
	<key>FXPreferredViewStyle</key>
	<string>clmv</string>
	<key>SearchRecentsSavedViewStyle</key>
	<string>clmv</string>
	<key>_FXShowPosixPathInTitle</key>
	<true/>
</dict>
</plist>